[Desktop Entry]
Name=Pronterface
Comment=Control RepRap 3d printers
GenericName=RepRap Host
Exec=/usr/bin/pronterface
Path=/usr/share/pronterface
Terminal=false
Icon=pronterface
Categories=Graphics;Science;Engineering
Type=Application
MimeType=application/stl;
